<form action="/create" method="post">
  <input type="text" name="name">
  <input type="text" name="type">
  <input type="submit">
</form>

<!-- <form action="/create" method="post">
  <input type="text" name="type_of_beer">
  <input type="submit">
</form> -->